.container__section-B {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 5rem;
  align-items: center;
  background-color: #d9c8b1;
  color: #1a3932;
  margin-bottom: 5rem;

  cursor: pointer;
  div {
    padding: 5rem;
    flex-grow: 1;
  }

  button {
    padding: 1rem 2rem;
    margin-top: 5rem;
    background-color: #1a3932;
    color: white;
    font-weight: 500;

    border-radius: 50px;
    line-height: 1.2;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 1.5;
  }

  p {
    font-size: 1.8rem;
  }

  img {
    width: 100%;
  }
}
